.lower-box {
    border: 1px solid rgba(132, 146, 175, 0.3);
    height: 100%;
    min-width: 30%;
    max-width: 35%;
    margin: 20px 15px 30px 0;
    background-color: white;
}

.activity-title {
    margin: 0 20px;
    text-transform: capitalize;
    color: #0e1a35;
    font-size: 18px;
    line-height: 43px;
}

.activity-container {
    padding: 30px 10px;
    align-items: center;
    position: relative;
}

.preview {
    height: 125px;
    cursor: pointer;
}
.preview-container {
    border-top: 1px solid rgba(132, 146, 175, 0.3);
}

.img-container {
    justify-content: center;
    p {
        color: white;
        line-height: 30px;
    }
    img {
      width: 40px;
      height: 40px;
    }
}

.clock {
    color: inherit;
    margin-right: 5px;
}