.lower-box {
    border: 1px solid rgba(132, 146, 175, 0.3);
    // margin: 30px;
    height: 100%;
    width: 100%;
    min-width: 300px;
}

.activity-title {
    margin: 0 20px;
    text-transform: capitalize;
    color: #0e1a35;
    font-size: 24px;
    line-height: 43px;
}

.activity-container {
    padding: 30px 20px;
}

.activity-body {
    margin: 0 20px;
    justify-content: center;
}

.preview {
    height: 125px;
    cursor: pointer;
}
.preview-container {
    border-top: 1px solid rgba(132, 146, 175, 0.3);
}
.img-container {
    justify-content: center;
}
.clock {
    color: inherit;
    margin-right: 5px;
}