.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.sb {       //space between
    justify-content: space-between;
}
.ptr {      //pointer
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.mlr5 {     //margin left-right 5px
    margin: 0 5px;
}

.ml10 {     //margin-left 10px
    margin-left: 10px;
}

.close {
    display: none;
}
.open {
    display: block;
}