.notification {
    div {
      border: 1px solid #5584ff;
      border-radius: 50%;
      background-color: #5584ff;
      width: 30px;
      height: 30px;
      text-align: center;
      margin: 5px;
    }
}


.activity-header {
    justify-content: space-between;
    padding: 10px;
    p {
      color: #0e1a35;
      font-size: 24px;
      line-height: 43px;
    }
}

.notific-count {
  p {
    color: white;
    line-height: 30px;
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .notific-count {
    p {
      font-size: 12px;
      line-height: 25px;
    }
  }
  .activity-title {
    font-size: 16px;
    margin: 2px;
  }
  .notification {
    div {
      width: 25px;
      height: 25px;
      margin: 5px;
    }
}
}