.select {
    border: none;
    text-transform: capitalize;
    font-family: Roboto;
    cursor: pointer;
}

.select-list {
    border: 1px solid rgba(132, 146, 175, 0.3);
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    height: 40px;
}

.box-title {
    justify-content: space-between;
    margin: 20px;
    text-transform: capitalize;
    color: #8492af;
}

@media (max-width: 900px){ 
    .box-title {
      font-size: 0.8em;
      flex-direction: column;
    }
}

@media (max-width: 760px) { 
    .box-title {
        font-size: 1em;
        flex-direction: row;
    }
}