@import 'helpers';
@import 'box';
@import 'notification';
@import 'vars';
@import 'titles';

* {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
  }
  p, h1, h2, h3, h4, h5, h6, ul, li, body {
    margin: 0;
    padding: 0;
  }

  .home {
    padding: 0 20px 0 180px;
    font-family: Roboto;
  }

  li, ul {
    list-style-type: none;
  }
  
  @media (max-width: 540px) {
    .home {
      padding: 0 20px;
    }
  }

